@import "tailwindcss";

.font-poppins {
  font-family: var(--font-poppins);
}

.font-openSans{
  font-family: var(--font-OpenSans);
}

.font-inter{
  font-family: var(--font-inter);
}

@theme inline{
    --color-TitleDot : #FEE15F;
}